<h1>User Details</h1>

<% @users.each do |user| %>
    <h3><%= user.name %></h3>
    <p>Number of posts by <%= user.name %>: <%= user.posts.count %></p>
    <% user.posts.each do |post| %>
      <h4><%= post.title %></h4>
      <p><%= post.text %></p>
    <% end %>
<% end %>
  