<section class="section">

<div class="button">
<button type="button">
<%= link_to "Add a comment", new_user_post_comment_path(@user, @post) %>
</button>
</div>

<%= render 'post', post: @post %>

<% if @post.comments.empty?%>
    <h4>No comments for this post</h4>
 <% else %>

          <% @post.comments.each do |comment| %>
            
            

            <div class="comments-container">
            <p class="comment"><%= comment.author.name %> : <%= comment.text %></p>
          
          
            <% if can? :destroy, comment %>
                        <%= button_to 'Delete comment', user_post_comment_path(comment.author, @post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
                     <% end %>
          
          </div>

            <% end %>
    <% end %>
</section>