<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">

   <head>
      <meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
      <meta http-equiv = "Content-Language" content = "en-us" />
      <title>My Blogger Application</title>
      <%= stylesheet_link_tag "style" %>
   </head>

   <body id = "blog">
      <div id = "content">
         
         <div id = "header">
            <h1>
            <%= link_to "Blog App", users_path %>
            </h1>

            <div class="user-profile">
               <% if user_signed_in? %>
                <h3>
                  <%= "Hello #{current_user.name}!" %>
               </h3>
            <button>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
             </button>
            <% end %>   
            </div>
         </div>

         <p class="notice flex-center"><%= notice %></p>
         <p class="alert flex-center"><%= alert %></p>

         <main id = "main-section">
            <%= yield -%>
         </main>

         <footer id = "footer">
         <p>Created by Mudasir &copy; <%= Time.now.year %> </p>
         </footer>

         </div>
   </body>
   
</html>